<!DOCTYPE html>
<html>

  <head>
    <title>BACKBONE Marionette Tutorial: Collections</title>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="./assets/javascripts/vendor/underscore.js"></script>
    <script src="./assets/javascripts/vendor/backbone.js"></script>
    <script src="./assets/javascripts/vendor/backbone.marionette.js"></script>

    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/custom.css" rel="stylesheet">

    <script src="./assets/javascripts/app.js"></script>
  </head>
  <body>
    <div id="content">
    </div>

    <script type="text/template" id="albums-template">
      <div class="album-container">
      </div>
    </script>

    <script type="text/template" id="album-template">
      <span><%= name ></span>
    </script>
  </body>
</html>
